
footer ul li{
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    background-color: brown;}

a{  color: aliceblue;
    text-decoration: none;}

p { color: aliceblue;
    text-decoration: none;}

h1{ color: yellow;}


.color-violeta{
    background-color: blueviolet;}

.color-negro-fondo{
    background-color: black;}
 
.tipografia-Permanentmarker{
    font-family: 'Permanent Marker', cursive;}

.tipografia-openSans{
    font-family: 'Open Sans', sans-serif;}

a { font-family:'Open Sans', sans-serif;}

p { font-family:'Open Sans', sans-serif;}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    grid-area: header;
}

.gradiente_titulo {
    background-image: linear-gradient(red, yellow);
}
 
.container__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

body main h1 {
    margin: 3rem;
}

body main div img {
    padding: 2rem;
}

body main div iframe {
    margin: 2rem;
}

aside {
    padding: 4rem;
}

.p_bio, .p_contacto, .p_servicio {
    padding: 2rem;
}


    .tamaño_carousel {
        height: 100px;
        width: 100px;
      }

.trabajos_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;}

.footer_trabajos {
    margin-top: 10rem;
}

footer {
    padding: 1rem;
    display: flex;
    justify-content: start;
}


/* ¿cómo modifico esto? ¿Se modifican así las clases "preseteadas" de bootstrap? */
.carrousel_indicators {
    margin-top: -6rem;
}