
footer ul li{
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    background-color: brown;}

a{  color: aliceblue;
    text-decoration: none;}

p { color: aliceblue;
    text-decoration: none;}

h1{ color: yellow;}


.color-violeta{
    background-color: blueviolet;}

.color-negro-fondo{
    background-color: black;}
 
.tipografia-Permanentmarker{
    font-family: 'Permanent Marker', cursive;}

.tipografia-openSans{
    font-family: 'Open Sans', sans-serif;}

a { font-family:'Open Sans', sans-serif;}

p { font-family:'Open Sans', sans-serif;}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    grid-area: header;
}

.gradiente_titulo {
    background-image: linear-gradient(red, yellow);
}
 
.container__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .tamaño_carousel {
        height: 100px;
        width: 100px;
      }