/* audio::-webkit-media-controls-panel {
    background-color: rgb(255, 230, 0);
  } */

  audio::-webkit-media-controls-mute-button {
    background-color: #B1D4E0;
    border-radius: 50%;
  }

  audio::-webkit-media-controls-play-button {
    background-color: #B1D4E0;
    border-radius: 50%;
  }
  
  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(177,212,224, .7);
  }

 /*  audio::-webkit-media-controls-current-time-display {
    color: #fff;
  } */

  /* audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
  } */

/*   audio::-webkit-media-controls-timeline {
    background-color: #B1D4E0;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
  } */

  audio::-webkit-media-controls-volume-slider {
    background-color: #B1D4E0;
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
  }

a{  color: aliceblue;
    text-decoration: none;}

p { color: aliceblue;
    text-decoration: none;}

h1{ color: yellow;}


.color-violeta{
    background-color: blueviolet;}

.color-negro-fondo{
    background-color: black;}
 
.tipografia-Permanentmarker{
    font-family: 'Permanent Marker', cursive;}

.tipografia-openSans{
    font-family: 'Open Sans', sans-serif;}

a { font-family:'Open Sans', sans-serif;}

p { font-family:'Open Sans', sans-serif;}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    grid-area: header;
}

.gradiente_titulo {
    background-image: linear-gradient(red, yellow);
}
 
.container__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

body main h1 {
    margin: 3rem;
}

body main div img {
    padding: 2rem;
}

body main div iframe {
    margin: 2rem;
}

aside {
    padding: 4rem;
}

.p_bio, .p_contacto, .p_servicio {
    padding: 2rem;
}


    .tamaño_carousel {
        height: 100px;
        width: 100px;
      }

.trabajos_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;}

.footer_trabajos {
    margin-top: 10rem;
}

footer {
    padding: 1rem;
    position:fixed;
    left:0px;
    bottom:8px;
    height:52px;
    width:100%;
}

/* ¿Cómo cambio colores de botones bootstrap? */
.button_footer_instagram {
    background-color: violet;
}


.carrousel_indicators {
    margin-top: -6rem;
}

.mail_box {
    color: white;
    width: 25rem;
    margin-left: 2rem;
}

.mail_box_2 {
    height: 10rem;
}

.div_contacto {
    color: white;
    margin-top: 2rem;
    margin-left: 1rem;
}

.boton_contacto_enviar {
    border: 1px solid #ffffff; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #000000; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    width: 5rem;
    height: 3rem;
    margin-left: 4rem;

}

.imagen_servicio {
    max-width: 100%;
    max-height: 100%;
   }

.div_imagen_servicio {
    height: 650px;
    width: 650px;
}

.p_servicio {
    color: white;
}

.imagen_bio_div {
    display: flex; 
    justify-content: center;
}


.imagen_bio {
    width: 35rem;
    height: 20rem;
    border: 2px solid;
    border-color: white;
  }

.playlist_imagenes {
    width: 12rem;
    height: 8rem;
    margin: 2rem 0 2rem 0;
}

.playlist_container {
    display: flex; flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem 0 2rem;
    }

audio {
    height: 2rem;
}

.videogame_music, .orchestral_music, .electronic_music, .rock-funk_music {
    border: 1px solid;
    border-color: rgb(255, 187, 0);
    padding: 5px;
}