@import "../base/variables";
@import "../base/listas";
@import "../base/maps";
@import "../base/mixin";
@import "../base/extends";




 
.container__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    }



h1 {
    display: flex; 
    justify-content: center;
    color: #ffd900;
    text-decoration: underline #ffd900;
    }
    

.foto-main {
    border: 2px solid;
    border-color: #ffd900;
    width: 28rem;
    height: 20rem;
    
}

.imagen_div {
    display: flex; 
    justify-content: center;
    margin-bottom: 2rem;
}

.iframe_div {
    display: flex; 
    justify-content: center;
    }

body
    main
        h1{ margin: 3rem;
            div
                img { margin: 2rem;
                
                }

                
        
        }

        
    body
        main
            h1{ margin: 3rem;
                div
                    iframe { margin: 2rem;
                    
                    }
    
                    
            
            }        
