 %dflex-clm {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
}

// .footer-index {
//     background-color: white;
//     @extend %disposición-horizontal;
// }

